<table class="trending-table">
    <thead>
        <tr>
            <th>SENSOR</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="redirectToPage('grafana')">
            <td>Door Sensor</td>
        </tr>
        <tr>
            <td>Door Ultrasonic Sensor</td>
        </tr>
        <tr>
            <td>Door Motion Sensor</td>
        </tr>
        <tr>
            <td>Door Membrane Switch</td>
        </tr>
        <tr>
            <td>Digital Humidity/Temperature.</td>
        </tr>
        <tr>
            <td>Liquid Crystal Display</td>
        </tr>
        <tr>
            <td>Gyroscope</td>
        </tr>
        <tr>
            <td>4 Digit 7 Segment Display</td>
        </tr>
        <tr>
            <td>Bedroom Infrared</td>
        </tr>
        <tr>
            <td>Bedroom RGB</td>
        </tr>
    </tbody>
</table>
