<div class="trending-page-container" id="trending-page">
    <div class="main-navbar" id="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="workspace" id="workspace">
         <iframe *ngIf="sensor == 'dms'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&viewPanel=1&from=now-24h&to=now" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'dus'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&from=1706018922876&to=1706019822877&viewPanel=3" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'dht'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&from=1706018948549&to=1706019848549&viewPanel=4" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'gsg'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&from=1706018978179&to=1706019878179&viewPanel=2" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'pir'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&from=1706019059094&to=1706019959094&viewPanel=5" width="82%" height="790px" frameborder="0" ></iframe>
         <iframe *ngIf="sensor == 'ds'" src="http://localhost:3000/d/afdbfc83-be02-4b4a-96fc-7fa2de9e9631/sensors?orgId=1&from=1706019073743&to=1706019973743&viewPanel=6" width="82%" height="790px" frameborder="0" ></iframe>

    </div>
</div>



