<div class="container">
    <div class="row" style="justify-content: center;">
      <div *ngFor="let alert of alarmAlerts" class="referral" >
        <div class="referral-metadata">
          <div class="referral-header">
            <p class="referral-name">Device Name: {{alert.type}}</p>
          </div>
          <div class="referral-body">
              <p>Alarm Name: {{alert.alarm_name}}</p>
              <p>Type: {{alert.type}}</p>
              <p>Time: {{formatDate(alert.time)}}</p>
              <p>Start or stop: {{alert.start}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
